@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;700&display=swap');

.window {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 121px;
    max-width: 1440px;
    width: auto;
}
.ProfessionalCard {
    max-width: 1024;
    width: 100%;
    height: 100%;
    border: 0px;
    border-radius: 50px;
    padding: 40px 0px 0px 80px;
    background-color: #B14F4E;
}
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
}
.logo {
    max-height: 30px;
    max-width: 153px;
    height: 100%;
}
.logo img {
    object-fit: contain;
    height: 100%;
}
.menu-icon {
    background-color: transparent;
    margin-right: 50px;
    border: 0px;
}
.menu-icon:focus {
    outline: none;
}
.mini-diamond {
    position: relative;
    top: -50px;
    left: 70%;
}
.information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 100%;
}
.texts {
    width: 50%;
    margin: 0px 0px 32px 0px;
    font-family: 'Signika', sans-serif;
    color: #ECF6FF;
}
.texts h3 {
    font-size: 48px;
    font-weight: lighter;
    margin: 0px;
    color: #863B3B;
}
.texts h1 {
    font-size: 58px;
    margin: 0px;
    line-height: 50pt;
    margin: 18px 0px;
}
.texts h5 {
    font-weight: lighter;
    font-size: 18px;
    margin: 0px;
    margin-bottom: 40px;
}
.avatar {
    display: flex;
    flex-direction: column;
    text-align: end;
    max-width: 456px;
    width: 50%;
    margin: 0;
}
.avatar img {
    object-fit: contain;
    width: 90%;
    /* clip-path: inset(19% 0px 0px 0px); */
}
.avatar a {
    justify-self: flex-end;
    font-family: 'Signika', sans-serif;
    font-size: 12px;
    color: white;
    margin-right: 10%;
}
.see-more{
    height: 58px;
    width: 211px;
    border: 0px;
    border-radius: 30px;
    background-color: #B14F4E;
    color: white;
    box-shadow: 0px 4px 4px #863B3B;
    font-family: 'Signika', sans-serif;
    font-size: 24px;
}
.see-more:hover {
    height: 62px;
    width: 214px;
}
.see-more:focus {
    outline: none;
}
.icons{
    position: absolute;
    left: 4%;
    top: 55%;
}

@media screen and (max-width: 1439px){
    .icons {
        display: none;
    }
}

@media screen and (max-width: 1023px){
    .ProfessionalCard {
        padding: 40px 20px 20px 20px;
    }
    .menu-icon{
        margin: initial;
    }
    .information {
        display: block;
    }
    .texts {
        width: auto;
        font-size: 52px;
        margin-bottom: 5px;
    }
    .texts h3 {
        font-size: 1em;
    } 
    .texts h1 {
        line-height: initial;
        font-size: 1em;
        margin: 5px 0px;
    }
    .texts h5 {
        font-size: .4em;
    }
    .see-more {
        height: 38px;
        width: 141px;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .avatar{
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .window {
        margin: 0px;
    }
    .ProfessionalCard{
        border-radius: 10px;
    }
    .texts {
        font-size: 48px;
    }
    .avatar {
        margin: auto;
    }
}

@media screen and (max-width: 420px){
    .window {
        margin: 0px;
    }
    .ProfessionalCard {
        width: auto;
        border-radius: initial;
    }
    .mini-diamond {
        position: relative;
        left: 50%;
    }
    .texts{
        font-size: 42px;
    }
    .see-more {
        position: absolute;
        z-index: 2;
    }
    .avatar {
        position: relative;
        z-index: 1;
    }
}